[Desktop Entry]
Type=Application
Name=Element
GenericName=IM Client
Comment=Element Matrix Client
Icon=element
Exec=bash -c "$HOME/bin/wait-for-internet.sh element-desktop"
Categories=InstantMessaging;Network;
StartupNotify=true
Terminal=false
