[submodule "awesome/awesome-wm-widgets"]
	path = awesome/awesome-wm-widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
[submodule "awesome/awesome-switcher"]
	path = awesome/awesome-switcher
	url = https://github.com/troglobit/awesome-switcher.git
[submodule "awesome/json.lua"]
	path = awesome/json.lua
	url = https://github.com/rxi/json.lua.git
[submodule "awesome/json.lua.repo"]
	path = awesome/json.lua.repo
	url = https://github.com/rxi/json.lua.git
[submodule "awesome/lain"]
	path = awesome/lain
	url = https://github.com/lcpz/lain.git
